<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat ejemplo</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>
<body>
    <div id="app" class="container">
        <h1>Mensajes</h1>
        <div id="app__messages" style="max-height: 50vh; overflow: auto">
            <article v-for="message in messages"><mark>{{ message.author }}</mark> {{ message.text }}</article>
        </div>
        <div class="grid">
            <input type="text" v-model="author" placeholder="Tu nombre">
            <input v-model="newText" type="text" placeholder="Tu nuevo ensaje" @keypress.enter="sendNewMessage">
            <button style="width: 5rem" @click.prevent="sendNewMessage">🚀</button>
        </div>
    </div>
</body>
</html>